/* https://flatuicolors.com/palette/cn */
:root {
    --color-dark: #2f3542;
    --color-light: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav {
    margin: 0 0 20px 0;
    background-color: var(--color-dark);
    color: var(--color-light);
}

nav .fa-bars {
    margin:14px 16px;
    
}
 /* TODO work out how not to repeat this  */
.fa-times {
    margin:14px 16px;
}

.hide {
    display: none;
}

#menu {
    width: 100%; 
    height: 100%;
    background-color: var(--color-dark);
    color: var(--color-light);
    z-index: 10;
    position: fixed;
    top: 0;
    
}